body{
   text-align: center;
}
.btnDiv{
    height: 200px;
    width: 200px;
    border: 8px solid black;
    border-radius: 20%;
    margin: 1rem;
}
.div-container{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.red{
     background-color: #208c6f;
}
.violet{
    background-color: #20648c;
}
.blue{
     background-color: #8c2087;
}
.green{
     background-color: #8c5a20;
}
.flash{
    background-color: white;
}
.user{
    background-color: green;
}